.ventas-title-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px 0px; 
}

.ventas-title-text {
    padding: 20px 8px; 
    background-color: #1b5e20;
    font-weight: 500;
    font-size: larger;
  }
  
  .ventas-text{
    font-size: small;
    text-align: center;
    color: #000;
    background-color: aliceblue;
    padding: 10px 20px;
  }
  .ventas-item input[type="checkbox"] {
    margin-right: 10px;
  }
    
  .ventas-item button {
    font-size: 23px;
    border: none;
    padding: 0;
    cursor: pointer; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-left: 10px;
    color: rgb(157, 60, 60);
    background: transparent;
  }
  
  .ventas-text.completed {
    text-decoration: line-through;
    color: gray;
  }

  .ventas-text button {
    border: none;
    background-color: transparent;
    color: #1b5e20;
  }
  
  .ventas-text button:hover {
    text-decoration: none;
    text-decoration: underline;
    color: #009;
  }